* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    height: 80px;
    background-color: #185EA9;
    color:white;
    display: flex;
    font-family: 'Poppins' sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  
  .logo img {
    height: 50px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    transition: all 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #00bcd4;
  }
  

  