.secao__metodologia {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.secao__metodologia__conteudo {
  color: white;
  width: 100vw;
  height: 70vh;
  background-image: url("../../../imagens/Laboratorios/Programacao.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9); /* Cor da camada semi-transparente */
}

.secao__metodologia__conteudo > h2 {
  text-transform: uppercase;
  font-family: var(--font__popins);
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 20px;
}

.secao__metodologia__conteudo > p {
  max-width: 600px;
  font-weight: 600;
  
}

.grid-container {
  position: absolute; /* Alterado */
  top: 62%; /* Alterado */
 
  padding: 0 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.card {
  height: auto;
  background-color: #f0f0f0;
  padding: 20px;
}

h2.card-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
}

p.card-text {
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
}

