.baner__apresentação{

    width: 100vw;
    height: 80vh;

    background-image: url("../../../imagens/examinando-a-amostra-com-microscopio.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
   
  
    

    

}


.baner__apresentação__conteudo{
    width: 100%;
    height: inherit; /* erdando de baner apresentação */
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1); /* Cor da camada semi-transparente */
    
}

.baner__apresentação__titulo{

    font-size: 60px;
    font-family: var(--font__popins);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

.baner__apresentação__titulo > span{
    
    font-family: var(--font__popins);
    display: block;
    font-size: 80px;
    font-weight: 800;
    color: white;
    font-weight: 700;
    overflow: hidden;
}

.baner__apresentação__descrição{

    max-width: 450px;
    font-weight: 600;
    font-size: 20px;
    color: white;
   
}
